<section id="content">
    <section class="hbox stretch">
        <section>
            <section class="vbox" id="bjax-el">

                <section class="scrollable padder-lg w-f-md" id="bjax-target">
                    <div class="frontpage-carousel">
                        <div style="background-image: url('/Content/images/Bertine Zetlitz_small.png');background-color: #CA0088; background-repeat: no-repeat">
                            <div>
                                <div class="row row-sm">
                                    <div class="col-xs-12 col-md-6">
                                        <h3 class="font-thin m-b padder text-white">Bertine Zetliz utvalgte</h3>
                                        <br /><br /><br />
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <br />
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                    </div>
                                                </div>
                                                <a href="video-detail.html"><img src="~/Content/images/medium_4572003745.jpg" alt="" class="r r-2x img-full"></a>
                                            </div>
                                            <div class="padder-v">
                                                <ul class="list-inline">
                                                    <li><a href="video-detail.html" class="text-ellipsis text-white">Tempered Song</a></li>
                                                    <li><i class="icon-social-facebook text-white"></i></li>
                                                    <li><i class="icon-social-twitter text-white"></i></li>
                                                    <li><i class="icon-social-youtube text-white"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <br />
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                    </div>
                                                </div>
                                                <a href="video-detail.html"><img src="~/Content/images/medium_4667841071.jpg" alt="" class="r r-2x img-full"></a>
                                            </div>
                                            <div class="padder-v">
                                                <ul class="list-inline">
                                                    <li><a href="video-detail.html" class="text-ellipsis text-white">Morbi id neque quam</a></li>
                                                    <li><i class="icon-social-facebook text-white"></i></li>
                                                    <li><i class="icon-social-twitter text-white"></i></li>
                                                    <li><i class="icon-social-youtube text-white"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row row-sm">
                                    <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-6">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                    </div>
                                                </div>
                                                <a href="video-detail.html"><img src="~/Content/images/medium_5540647211.jpg" alt="" class="r r-2x img-full"></a>
                                            </div>
                                            <div class="padder-v">
                                                <ul class="list-inline">
                                                    <li><a href="video-detail.html" class="text-ellipsis text-white">Aliquam  venenatis </a></li>
                                                    <li><i class="icon-social-facebook text-white"></i></li>
                                                    <li><i class="icon-social-twitter text-white"></i></li>
                                                    <li><i class="icon-social-youtube text-white"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-4 col-md-3">
                                        <div class="item">
                                            <div class="pos-rlt">
                                                <div class="item-overlay opacity r r-2x bg-black">
                                                    <div class="center text-center m-t-n">
                                                        <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                    </div>
                                                </div>
                                                <a href="video-detail.html"><img src="~/Content/images/medium_6027869927.jpg" alt="" class="r r-2x img-full"></a>
                                            </div>
                                            <div class="padder-v">
                                                <ul class="list-inline">
                                                    <li><a href="video-detail.html" class="text-ellipsis text-white">Citudin ipsum ac</a></li>
                                                    <li><i class="icon-social-facebook text-white"></i></li>
                                                    <li><i class="icon-social-twitter text-white"></i></li>
                                                    <li><i class="icon-social-youtube text-white"></i></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div style="background-image: url('/Content/images/mortenAbel_small.jpg'); background-color: #EDF1F2; background-repeat: no-repeat">
                                <div>
                                        <div class="row row-sm">
                                            <div class="col-xs-12 col-md-6">
                                                <h3 class="font-thin m-b padder text-black">Morten Abels favoritter</h3>
                                                <br /><br /><br />
                                                </div>
                                            <div class="col-xs-6 col-sm-4 col-md-3">
                                                <br />
                                                <div class="item">
                                                    <div class="pos-rlt">
                                                        <div class="item-overlay opacity r r-2x bg-black">
                                                            <div class="center text-center m-t-n">
                                                                <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                            </div>
                                                        </div>
                                                        <a href="video-detail.html"><img src="~/Content/images/medium_4572003745.jpg" alt="" class="r r-2x img-full"></a>
                                                    </div>
                                                    <div class="padder-v">
                                                        <ul class="list-inline">
                                                            <li><a href="video-detail.html" class="text-ellipsis">Tempered Song</a></li>
                                                            <li><i class="icon-social-facebook"></i></li>
                                                            <li><i class="icon-social-twitter"></i></li>
                                                            <li><i class="icon-social-youtube"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-3">
                                                <br />
                                                <div class="item">
                                                    <div class="pos-rlt">
                                                        <div class="item-overlay opacity r r-2x bg-black">
                                                            <div class="center text-center m-t-n">
                                                                <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                            </div>
                                                        </div>
                                                        <a href="video-detail.html"><img src="~/Content/images/medium_4667841071.jpg" alt="" class="r r-2x img-full"></a>
                                                    </div>
                                                    <div class="padder-v">
                                                        <ul class="list-inline">
                                                            <li><a href="video-detail.html" class="text-ellipsis">Morbi id neque quam</a></li>
                                                            <li><i class="icon-social-facebook"></i></li>
                                                            <li><i class="icon-social-twitter"></i></li>
                                                            <li><i class="icon-social-youtube"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            </div>
                                        <div class="row row-sm">
                                            <div class="col-xs-6 col-sm-4 col-md-3 col-md-offset-6">
                                                <div class="item">
                                                    <div class="pos-rlt">
                                                        <div class="item-overlay opacity r r-2x bg-black">
                                                            <div class="center text-center m-t-n">
                                                                <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                            </div>
                                                        </div>
                                                        <a href="video-detail.html"><img src="~/Content/images/medium_5540647211.jpg" alt="" class="r r-2x img-full"></a>
                                                    </div>
                                                    <div class="padder-v">
                                                        <ul class="list-inline">
                                                            <li><a href="video-detail.html" class="text-ellipsis">Aliquam  venenatis </a></li>
                                                            <li><i class="icon-social-facebook"></i></li>
                                                            <li><i class="icon-social-twitter"></i></li>
                                                            <li><i class="icon-social-youtube"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-xs-6 col-sm-4 col-md-3">
                                                <div class="item">
                                                    <div class="pos-rlt">
                                                        <div class="item-overlay opacity r r-2x bg-black">
                                                            <div class="center text-center m-t-n">
                                                                <a href="video-detail.html"><i class="fa fa-play-circle i-2x"></i></a>
                                                            </div>
                                                        </div>
                                                        <a href="video-detail.html"><img src="~/Content/images/medium_6027869927.jpg" alt="" class="r r-2x img-full"></a>
                                                    </div>
                                                    <div class="padder-v">
                                                        <ul class="list-inline">
                                                            <li><a href="video-detail.html" class="text-ellipsis">Citudin ipsum ac</a></li>
                                                            <li><i class="icon-social-facebook"></i></li>
                                                            <li><i class="icon-social-twitter"></i></li>
                                                            <li><i class="icon-social-youtube"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="font-thin">De ferskeste bidragene</h3>
                            <div class="row row-sm">
                                <div class="col-xs-6 col-sm-3">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/medium_5191986470_square.jpg" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Spring rain</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/medium_8125469047_square.jpg" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Hope</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Miya</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/a8.png" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Listen wind</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Soyia Jess</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/a9.png" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Breaking me</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Pett JA</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/a1.png" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Nothing</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Willion</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/medium_8125469047_square.jpg" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Panda Style</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Lionie</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 hidden-xs">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/a7.png" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Hook Me</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Gossi</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3 hidden-xs">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black">
                                                <div class="center text-center m-t-n">
                                                    <a href="#"><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a href="#"><img src="~/Content/images/a5.png" alt="" class="r r-2x img-full"></a>
                                        </div>
                                        <div class="padder-v">
                                            <a href="#" class="text-ellipsis">Tempered Song</a>
                                            <a href="#" class="text-ellipsis text-xs text-muted">Miaow</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <h3 class="font-thin">Mest avspillte videoene</h3>
                            <div class="list-group bg-white list-group-lg no-bg auto">
                                <a href="#" class="list-group-item clearfix">
                                    <span class="pull-right h2 text-muted m-l">1</span>
                                    <span class="pull-left thumb-sm avatar m-r">
                                        <img src="~/Content/images/medium_8125469047_square.jpg" height="40" style="height: 40px" alt="...">
                                    </span>
                                    <span class="clear">
                                        <span>Little Town</span>
                                        <small class="text-muted clear text-ellipsis">by Chris Fox</small>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item clearfix">
                                    <span class="pull-right h2 text-muted m-l">2</span>
                                    <span class="pull-left thumb-sm avatar m-r">
                                        <img src="~/Content/images/a5.png" alt="...">
                                    </span>
                                    <span class="clear">
                                        <span>Lementum ligula vitae</span>
                                        <small class="text-muted clear text-ellipsis">by Amanda Conlan</small>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item clearfix">
                                    <span class="pull-right h2 text-muted m-l">3</span>
                                    <span class="pull-left thumb-sm avatar m-r">
                                        <img src="~/Content/images/medium_5191986470_square.jpg" height="40" style="height: 40px" alt="...">
                                    </span>
                                    <span class="clear">
                                        <span>Aliquam sollicitudin venenatis</span>
                                        <small class="text-muted clear text-ellipsis">by Dan Doorack</small>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item clearfix">
                                    <span class="pull-right h2 text-muted m-l">4</span>
                                    <span class="pull-left thumb-sm avatar m-r">
                                        <img src="~/Content/images/a7.png" alt="...">
                                    </span>
                                    <span class="clear">
                                        <span>Aliquam sollicitudin venenatis ipsum</span>
                                        <small class="text-muted clear text-ellipsis">by Lauren Taylor</small>
                                    </span>
                                </a>
                                <a href="#" class="list-group-item clearfix">
                                    <span class="pull-right h2 text-muted m-l">5</span>
                                    <span class="pull-left thumb-sm avatar m-r">
                                        <img src="~/Content/images/a8.png" alt="...">
                                    </span>
                                    <span class="clear">
                                        <span>Vestibulum ullamcorper</span>
                                        <small class="text-muted clear text-ellipsis">by Dan Doorack</small>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row m-t-lg m-b-lg">
                        <div class="col-sm-12">
                            <div class="bg-primary wrapper-md r">
                                <a href="#">
                                    <span class="h4 m-b-xs block"><i class=" icon-user-follow i-lg"></i> Opprett konto</span>
                                    <span class="text-muted">Registrer deg for å legge til ditt bidrag eller vær med å stemme frem de beste bidragene.</span>
                                </a>
                            </div>
                        </div>
                        @*<div class="col-sm-6">
                                <div class="bg-black wrapper-md r">
                                    <a href="#">
                                        <span class="h4 m-b-xs block"><i class="icon-cloud-download i-lg"></i> Download our app</span>
                                        <span class="text-muted">Get the apps for desktop and mobile to start listening music at anywhere and anytime.</span>
                                    </a>
                                </div>
                            </div>*@
                    </div>
                </section>

            </section>
        </section>
        @Html.Partial("_LatestEntries")
    </section>
    <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
</section>

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            $(".frontpage-carousel").slick({
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 2000
            });
        });
    </script>
}