


.artist-tabs {
    padding-bottom: 50px; /*Make up for .scrollable that has position: absolute; top: 50px; */
}

.artist-tabs .tab-pane {
    padding: 30px;
}

.navbar-logo {
     padding: 13px 0 17px 0 !important;
}

.nav-open .hidden-no-nav {
    display:none;
}